*{
  width: 100%;
  padding: 10px;
  

}

h2{
  text-align: center;
  color: rgb(85, 7, 33);
}
 

.row {
  padding-top: 10px;
  margin-left: 25%;
 
}
.col-5 {
  float: left;
  width: 5%;
  margin-top: 6px;
  
}

.lbl {
  text-align: right;
  display: block;
  padding: 0.5em 1.5em 0.5em 0;
  color: rgb(61, 3, 3);
  
}

.txtbox {
  width: 25%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  float: left;
  margin-right: 30px;
 
}

.alinea-btn{
  margin-right: 5%;
  
   
}

.btn {
  float: left;
  width: 10%;
  padding: 10px;
  margin-top: -21px;
  cursor: pointer;
  
}

.is-invalid {
  border: 1px solid #ff0000a6;
}

.text-danger {
  padding-top: 2px;
  color: #ff0000a6;
}

.text-dangerver {
  display: block;
  margin-left: 3%;
  padding-top: 2px;
  color: green;
}
