<h2>Mi Primer Correo Electronico</h2>
<br>
<br>



<div class="container">
  
<form [formGroup]="forma" (ngSubmit)="Verificar()">
<div class="row">
  <div class="col-5">
    <label for="femail" class="lbl">Correo:</label>
  </div>
  <div>
    <input
      type="text"
      id="femail"
      placeholder="Correo Electronico"
      class="txtbox"
      formControlName="correo"
      [class.is-invalid]="correoNoValido"
      >
     
      <div class="row">
        <div class="alinea-btn">
          <button type="submit" class="btn" [disabled]="forma.invalid">Verificar</button>
        </div>
      </div>
      <small class="text-danger" *ngIf="correoNoValido">
        El Correo Electronico es ¡INVALIDO!! 
 
       </small>
       <small class="text-dangerver" *ngIf="correoValido">
        El Correo Electronico es VALIDO
 
       </small>
  </div>
</div>
</form>
</div>




